.post-desc{
    text-align: left;
}

.project-list-item{
    padding: 20px;
    margin: 8px;
    display: block!important;
    border: 1px solid black;
    box-shadow:  -1px 1px black,
         -1px 2px black,
         -2px 2px black,
         -2px 2px black,
         -3px 3px black
}
.project-list-title{
    font-size: 24px!important;
}
.project-link{
    padding: 16px!important;
    color: inherit!important;
}

.skills-images img{
    height: 100px;
    width: 100px;
    margin-left: 20px;
    margin-right: 20px;
}

.skills-images{
    padding: 10px;
}

#skills-content{
    flex: 10;
    text-align: center;
}