html,
body {
  height: 100%;
  margin: 0;
}

.post-desc{
    text-align: left;
}

.project-list-item{
    padding: 20px;
    margin: 8px;
    display: block!important;
    border: 1px solid black;
    box-shadow:  -1px 1px black,
         -1px 2px black,
         -2px 2px black,
         -2px 2px black,
         -3px 3px black
}
.project-list-title{
    font-size: 24px!important;
}
.project-link{
    padding: 16px!important;
    color: inherit!important;
}

.skills-images img{
    height: 100px;
    width: 100px;
    margin-left: 20px;
    margin-right: 20px;
}

.disabled{
    display: none;
}

.skills-images{
    padding: 10px;
}

#skills-content{
    flex: 10;
    display: flex;
    flex-direction: column;
    text-align: center;
}
#skill-headings{
    align-items: center;
    display: flex;
    margin: 0 auto;
    flex: 1;
}

#skill-headings i{
    margin-right: 20px;
    margin-left: 20px;
    cursor: pointer;
}


#skill-images{
    flex: 2;
    align-items: center;
    display: flex;
    margin: 0 auto;
}

.skill-heading{
    font-size: 48px;
    padding: 5px;
}